@font-face {
    font-family: 'libre_baskervillebold';
    src: url('fonts/libre-baskerville/librebaskerville-bold-webfont.eot');
    src: url('fonts/libre-baskerville/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/libre-baskerville/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/libre-baskerville/librebaskerville-bold-webfont.woff') format('woff'),
         url('fonts/libre-baskerville/librebaskerville-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('fonts/libre-baskerville/librebaskerville-italic-webfont.eot');
    src: url('fonts/libre-baskerville/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/libre-baskerville/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('fonts/libre-baskerville/librebaskerville-italic-webfont.woff') format('woff'),
         url('fonts/libre-baskerville/librebaskerville-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('fonts/libre-baskerville/librebaskerville-regular-webfont.eot');
    src: url('fonts/libre-baskerville/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/libre-baskerville/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/libre-baskerville/librebaskerville-regular-webfont.woff') format('woff'),
         url('fonts/libre-baskerville/librebaskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/Raleway/raleway-bold-webfont.eot');
    src: url('fonts/Raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-bold-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/Raleway/raleway-extrabold-webfont.eot');
    src: url('fonts/Raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-extrabold-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-extrabold-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/Raleway/raleway-extralight-webfont.eot');
    src: url('fonts/Raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-extralight-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-extralight-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayheavy';
    src: url('fonts/Raleway/raleway-heavy-webfont.eot');
    src: url('fonts/Raleway/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-heavy-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-heavy-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-heavy-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/Raleway/raleway-light-webfont.eot');
    src: url('fonts/Raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-light-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/Raleway/raleway-medium-webfont.eot');
    src: url('fonts/Raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-medium-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/Raleway/raleway-regular-webfont.eot');
    src: url('fonts/Raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/Raleway/raleway-semibold-webfont.eot');
    src: url('fonts/Raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-semibold-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/Raleway/raleway-thin-webfont.eot');
    src: url('fonts/Raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway/raleway-thin-webfont.woff2') format('woff2'),
         url('fonts/Raleway/raleway-thin-webfont.woff') format('woff'),
         url('fonts/Raleway/raleway-thin-webfont.ttf') format('truetype'),
         url('fonts/Raleway/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}
.bask-itl{
    font-family: 'libre_baskervilleitalic';
}
.bask-bold{
    font-family: 'libre_baskervillebold';
}
.rale-reg{
    font-family: 'ralewayregular';
}
.rale-bold{
    font-family: 'ralewaybold';
}
.rale-extrabold{
    font-family: 'ralewayextrabold';
}
.rale-semibold{
    font-family: 'ralewaysemibold';
}
.rale-light{
    font-family: 'ralewayextralight';
}